@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://unpkg.com/nes.css/css/nes.css);

html,
body,
pre,
code,
kbd,
samp {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 26px;
}

h1,
h2 {
    font-family: 'Press Start 2P';
}

dl dt {
    font-family: 'Press Start 2P';
    padding-bottom: 15px;
    /* text-decoration: underline; */
    font-size: 18px !important;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.gap-15 {
    gap: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-5 {
    gap: 5px;
}

.gap-2 {
    gap: 2px;
}

.fs-small {
    font-size: 12px;
}

.fs-very-small {
    font-size: 10px;
}

.fs-medium {
    font-size: 16px;
}

.fs-large {
    font-size: 20px;
}

progress {
    width: 250px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #000;
}

.fs-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}